version: '3.8'
services:
  mydb:
    image: mysql:8.0
    container_name: "mysql"
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_DATABASE=CARD2BRAIN
      - MYSQL_ROOT_PASSWORD=mauFJcuf5dhIMQrjj
    ports:
      - '3307:3306'
    volumes:
      - db:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
  mycard2brain:
    image: openjdk:17-jdk-alpine
    container_name: "card2brainalex"
    restart: always
    ports:
      - 9001:9001
    build: .
    volumes:
      - /home/logs:/home/logs
    command: [ 'java', '-jar', "/card2brain.jar" ]
volumes:
  db:
    driver: local
