name: MasterBranch :Test Deploy and Start

on:
  push:
    branches:
      - main

  # Allows you to run the worker manually from the Actions tab
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 17
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: card2brain
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.HOST }}

      - name: remove old jar
        run: ssh staging 'rm card2brain-*.jar &'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H 167.86.76.193 >> ~/.ssh/known_hosts
      - name: Deploy with rsync
        run: rsync -avz ./target/card2brain-*.jar ${{ secrets.DEPLOY_USER }}@167.86.76.193:/home/card2brain
      - name: stop the app
        run: ssh staging "nohup kill -9 `lsof -t -i:9000` & ; cat nohup.out"
      - name: show status application is shutdown
        run: ssh staging 'cat nohup.out'
      - name: Start card2brain
        run: ssh staging "nohup java -jar card2brain-*.jar & ; cat nohup.out &"
      - name: show status application is shutdown
        run: ssh staging 'cat nohup.out'


