name: MasterBranch :Test Deploy and Start

on:
  push:
    branches:
      - paused

  # Allows you to run the worker manually from the Actions tab
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 17

      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H 167.86.76.193 >> ~/.ssh/known_hosts
      - name: Deploy with rsync
        run: rsync -avz ./target/card2brain-*.jar ${{ secrets.DEPLOY_USER }}@167.86.76.193:/home/card2brain
      - name: ls -a via ssh
        uses: invi5H/ssh-action@v1
        with:
          NAME: card2brain
          SSH_HOST: ${{ secrets.HOST }}
          SSH_PORT: ${{ secrets.PORT }}
          SSH_USER: ${{ secrets.USER }}
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          command: ls -a

