name: Docker deploy to remote

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_and_push:
    name: Deploy to remote Host
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Start Deployment
        uses: TapTap21/docker-remote-deployment-action@v1.0
        with:
          remote_docker_host: card2brain@94.16.122.234
          ssh_private_key: ${{ secrets.SSH_CARD2BRAIN_PRIVATE_KEY }}
          ssh_public_key: ${{ secrets.SSH_CARD2BRAIN_PUBLIC_KEY }}
          copy_stack_file: true
          stack_file_name: docker-compose.yml
          docker_login_password: ${{ secrets.DOCKERHUB_PASSWORD }}
          docker_login_user: ${{ secrets.DOCKERHUB_USERNAME }}
          docker_login_registry : ${{ steps.login-ecr.outputs.registry }}
          args: -p card2brain up -d
