name: MasterBranch :Build Card2Brain

on:
  push:
    branches:
      - paused

# Allows you to run the worker manually from the Actions tab
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 17

      - name: Build with Maven
        run: mvn -B package --file pom.xml


