name: Release Branch :Release Card2Brain and Deploy on Server

on:
  push:
    branches:
      - release

  # Allows you to run the worker manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Cache local Maven repository
        uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java JDK 17
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 17
          server-id: github
      - name: Configure Git user
        run: |
          git config user.email "alex@alexstuder.ch"
          git config user.name "Alexander Studer"
      - name: Publish JAR
        run: mvn -B release:prepare release:perform
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the Docker Image
        run: docker build . --file Dockerfile --tag card2brain:latest
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H 167.86.76.193 >> ~/.ssh/known_hosts
      - name: Deploy with rsync
        run: rsync -avz ./target/card2brain-*.jar ${{ secrets.DEPLOY_USER }}@167.86.76.193:/home/card2brain
